<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<div th:replace="fragments/navbar"></div>
<main class="container">
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1.5rem;">
        <hgroup style="margin: 0;">
            <h1>Все артисты</h1>
            <p>Просмотрите всех артистов системы</p>
        </hgroup>

        <button th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'') or hasRole(''ROLE_MODERATOR'')')}"
                onclick="window.location.href='/artists/add'"
                style="margin: 0; flex-shrink: 0;">
            Добавить артиста
        </button>
    </div>

    <div style="display: flex; flex-direction: column; gap: 1rem;">
        <div th:each="a : ${allArtists}" class="card">
            <h3 th:text="${a.name}"></h3>
            <p><strong>Транскрипция:</strong> <span th:text="${a.slug}"></span></p>
            <p><strong>Год начала карьеры:</strong> <span th:text="${a.careerStartYear}"></span></p>
            <a th:href="@{/artists/artist-details/{name}(name=${a.slug})}"
               role="button"
               class="outline">
                Подробнее
            </a>
        </div>
    </div>
    <p th:if="${#lists.isEmpty(allArtists)}" class="text-center">
        <em>Артисты не найдены. Добавьте новых артистов, чтобы начать!</em>
    </p>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>