<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<div th:replace="fragments/navbar"></div>
<main class="container">
    <div>
        <hgroup>
            <h1>Все песни</h1>
            <p>Просмотрите всех песен системы</p>
        </hgroup>

        <form th:action="@{/songs/search}" method="get">
            <input type="text" name="query" placeholder="Поиск песен...">
            <button type="submit" class="outline">Поиск</button>
        </form>
        <button th:if="${#authorization.expression('isAuthenticated()')}"
                onclick="window.location.href='/songs/add'">
            Добавить песню
        </button>

    </div>

    <div>
        <div th:each="s : ${allSongs}" class="card">
            <h3 th:text="${s.title} + '(' + ${s.slug} +')' "></h3>
            <p><strong>Жанр:</strong> <span th:text="${s.genre}"></span></p>
            <p><strong>Аккорды:</strong>
                <span th:each="chord, stat : ${s.chordsList}">
                    <span th:text="${chord}"></span>
                    <span th:unless="${stat.last}">, </span>
        </span>
            </p>
            <p><strong>Рейтинг:</strong>
                <span th:if="${s.ratingCount > 0}"
                      th:text="${#numbers.formatDecimal(s.averageRating,1, 2)} + '⭐'">
        </span>
                <span th:unless="${s.ratingCount > 0}">Нет оценок</span>
            </p>
            <p><strong>Дата создания:</strong> <span
                    th:text="${#temporals.format(s.createdAt, 'dd.MM.yyyy, HH:mm')}"></span></p>
            <a th:href="@{/songs/song-details/{name}(name=${s.slug})}"
               role="button"
               class="outline">
                Подробнее
            </a>
        </div>
    </div>

</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>