<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<div th:replace="fragments/navbar"></div>
<main class="container">
    <hgroup>
        <h1>Все пользователи</h1>
        <p>Просмотрите всех пользователей системы</p>
    </hgroup>

    <div>
        <div th:each="u : ${allUsers}" class="card">
            <h3 th:text="${u.username}"></h3>
            <p><strong>Роли на сайте:</strong>
                <span th:each="role, stat : ${u.roles}">
                    <span th:text="${role.name}"></span>
                    <span th:unless="${stat.last}">, </span>
                </span>
            </p>
            <a th:href="@{/users/user-details/{name}(name=${u.username})}"
               role="button"
               class="outline">
                Подробнее
            </a>
        </div>
    </div>

    <p th:if="${#lists.isEmpty(allUsers)}" class="text-center">
        <em>Пользователи не найдены. Добавьте новых пользователей, чтобы начать!</em>
    </p>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>